body{
    background-color: #001021;
    text-align: center;
    font-size: 25px;
    padding: 100px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: whitesmoke;

}

.wrapper{
    text-align: center;
}

#playAgain{
    position: absolute;
    background-color: whitesmoke;
    border: none;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    top: 70%;
    left: 47.5%;
}

.h3{
    position: absolute;
    top: 0px;
    left: 43%;
    color: #FF8A65 ;
    text-decoration: underline;
}
.btn{
   position: absolute;
   top:45%;
   /* left: 25%; */
   border: none;
   border-radius: 10px;
   padding: 28px;
   /* margin: 180px 50px 80px 50px; */
   /* text-align: center; */
   color: whitesmoke;
   font-weight: bold;
   font-size: 15px;
}

#btn1{
    left: 37%;
    background-color: #539987;
}
#btn2{
    left: 47%;
    background-color: #FCBF49;
}
#btn3{
    left: 57%;
    background-color: #D62828;
}

btn:active{
    border-radius: 0px;
}

#topDisplay{
    text-decoration: underline;
    margin: 30px;
    color: whitesmoke;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
}

#result{
    position: absolute;
    top: 25%;
    left: 46.5%;
    /* text-align: center; */
}

#finalResult{
    position: absolute;
    top: 30%;
    left: 41.5%;
    color: #FF5722;
    font-weight: bold;
}
#bottomDisplay{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    color: whitesmoke;
}

#playerScore{
    color: whitesmoke;
    font-size: 20px;
    position: absolute;
    top: 70%;
    left: 3%;
}

#computerScore{
    color: whitesmoke;
    font-size: 20px;
    position: absolute;
    top: 70%;
    right: 3%;
}
#score{
    position: absolute;
    display: flex;
    color: white;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

 #ScoreCard{
    display: flex;
    justify-content: space-around;
} 